#chat_act {
	position: absolute;
	background: #FFF;
	left: 0px;
	top: 0px;
	width: 24%;
	height: 143px;
	border: solid 1px #CCC;
	z-index: 997;
	overflow: hidden;
	font-size: 12px;
	font-family:tahoma;
	}
	#chat_act b {
		padding: 5px;
		display: block;
		background: #F7F7F7;
		}
	#chat_act ul {
		overflow: auto;
		height: 118px;
		padding: 0;
		margin: 0;
		}
		#chat_act ul li {
			list-style:none;
			padding:0;
			margin:0;
			display:block;
			border-bottom:solid 1px #CCC;
			padding:2px 5px;
			}
		#chat_act ul li:hover {
			background:#f0f7ff;
			cursor:pointer;
			}
		#chat_act ul li.active {
			background:#069;
			color:#FFF;
			}
			#chat_act ul li .ics {
				width:11px;
				height:11px;
				background-image: url('//47ad.itocd.net/chat/i/sv/icons/static.png');
				background-position: 0 -12px;
				display:inline-block;
				}
			#chat_act ul li .ics.chat {
				background-position: 0 -24px;
				}
			#chat_act ul li .ics.video_chat {
				background-position: 0 -99px;
				height:7px;
				}
			#chat_act ul li .ics.message {
				background-image: url('//35ad.itocd.net/chat/i/icons/animate.gif');
				background-position:0 0px;
				padding:0;
				margin-right:3px;
				}
#count_send {
	padding: 15px 10px;
	background: #daeef7;
	border-bottom: solid 1px #b2c8d5;
	border-top: solid 1px #b2c8d5;
	color: #457081;
	text-shadow: 1px 0px 0px #FFF;
	z-index: 99;
	font-size: 16px;
	}
.au { visibility:hidden;}