body {
	padding: 0;
	margin: 0;
	font-family: verdana,tahoma;
	font-size: 12px;
	line-height: 22px;
	}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	}
a {
	color: #26abe3;
	text-decoration: underline;
	}
a:hover {
	text-decoration:none;
	}
ul, li, ol {
	padding: 0;
	margin: 0;
	list-style: none;
	}

.ml10 { margin-left:10px;}

.red { color:#C00;}
.green { color:#0C0;}

.lh_normal { line-height:normal;}

.size10 { font-size:10px;}
.size11 { font-size:11px;}

.fl { float:left;}
.fr { float:right;}

.success {
	padding: 15px 10px;
	background: #daeef7;
	border: solid 1px #b2c8d5;
	color: #457081;
	text-shadow: 1px 0px 0px #FFF;
	display:block;
	font-weight:bold;
	}
.error {
	padding: 15px 10px;
	background:#fff7f6;
	border: solid 1px #da544b;
	color:#da544b;
	text-shadow: 1px 0px 0px #FFF;
	display:block;
	font-weight:bold;
	}

.clear { clear:both; overflow:hidden; height:0px; display:block;}
.clear5 { clear:both; overflow:hidden; height:5px; display:block;}
.clear10 { clear:both; overflow:hidden; height:10px; display:block;}
.clear20 { clear:both; overflow:hidden; height:20px; display:block;}

.Btn_normal {
		background: #91cc7a;
		background: -webkit-gradient(linear, left top, left bottom, 
					color-stop(0%,#9ed184), color-stop(100%,#7fc16a));
		background: -webkit-linear-gradient(top, #9ed184, #7fc16a);
		background: linear-gradient(top, #9ed184, #7fc16a);
		display:inline-block;
		border:solid 1px #69a658;
		border-radius:3px;
		text-decoration:none;
		font-size:12px;
		color:#FFF;
		text-shadow:0 1px 0 #69a658;
		text-align:center;
		box-shadow:0 1px 3px #ccc;
		line-height:normal;
		}
	.Btn_normal:hover {
		background: #91cc7a;
		background: -webkit-gradient(linear, left top, left bottom, 
					color-stop(0%,#9dde7c), color-stop(100%,#7fd065));
		background: -webkit-linear-gradient(top, #9dde7c, #7fd065);
		background: linear-gradient(top, #9dde7c, #7fd065);
		box-shadow:0 0 5px #7fd065;
		}
		.Btn_normal b {
			display:block;
			border-radius:3px;
			padding:5px 10px;
			border-top:solid 1px #cce7be;
			box-shadow:inset 0 -1px 3px #cfe9c6;
			}

#dialog_photos img {
	outline:solid 3px #FFF;
	}
#dialog_photos img.active {
	outline:solid 3px #0C0;
	}

.WidthSector {
	width: 940px;
	margin: 0 auto;
	}
.header {
	padding: 25px 0;
	overflow: hidden;
	position: relative;
	z-index: 99;
	box-shadow: 0 0 5px #333;
	}
	.header .logo {
		background: url("http://wmidbot.com/images/logo.png") no-repeat 0 0;
		width: 116px;
		display: block;
		float: left;
		}
		.header .logo a {
			height: 25px;
			display: block;
			overflow: hidden;
			text-indent: -9999px;
			}
	.header .top_navi {
		float: right;
		white-space: nowrap;
		margin-top: 2px;
		}
		.header .top_navi li {
			display: inline-block;
			margin-left: 10px;
			}
			.header .top_navi li a {
				color: #ababab;
				text-decoration: none;
				font-size: 14px;
				}
			.header .top_navi li a:hover {
				text-decoration:underline;
				color:#5685d5;
				}
.content {
	padding-top:20px;
	}
	.content .LeftColumn {
		float:left;
		}
		.content .LeftColumn .menu {
			line-height:26px;
			}
	.content .CenterColumn {
		float:right;
		border-left:solid 1px #e7e7e7;
		width: 697px;
		padding-left: 20px;
		}
		.content .CenterColumn .title {
			font-size:16px;
			}
			.content .CenterColumn .hide {
				max-height:400px;
				overflow:hidden;
				}
			.content .CenterColumn .log {
				background:#eee;
				padding:10px;
				min-width:250px;
				margin-right:20px;
				}
				.content .CenterColumn .log .head {
					font-weight:bold;
					border-bottom:solid 1px #FFF;
					padding-bottom:10px;
					}
				.content .CenterColumn .log .more {
					background:#f7f7f7;
					display:block;
					text-align:center;
					text-decoration:none;
					margin-top:10px;
					}
				.content .CenterColumn .log .more:hover {
					background:#FFF;
					}
		
		.content .CenterColumn .btnUploadPhoto {
			background:#f3f3f3;
			display:block;
			font-size:17px;
			text-decoration:none;
			text-align:center;
			padding:20px;
			outline:dashed 2px #e4ecf9;
			}
		.content .CenterColumn .btnUploadPhoto:hover {
			background:#e4ecf9;
			}
		.content .CenterColumn .listPhotos {}
			.content .CenterColumn .listPhotos a {
				display:inline-block;
				border:solid 1px #eee;
				margin:4px;
				}
				.content .CenterColumn .listPhotos a:hover {
					border:solid 1px #6C3;
					}
				.content .CenterColumn .listPhotos a:hover img {
					border:solid 3px #e4ecf9;
					}
				.content .CenterColumn .listPhotos a img {
					border:solid 3px #FFF;
					display:block;
					max-width:150px;
					max-height:150px;
					}
		.content .CenterColumn .templates .tpl {
			padding:10px 0;
			border-bottom:solid 1px #e7e7e7;
			}
			.content .CenterColumn .templates .tpl td {
				vertical-align:top;
				padding-right:10px;
				}
				.content .CenterColumn .templates .tpl td textarea {
					width:100%;
					height:100px;
					border: solid 1px #a1d9f1;
					border-radius: 2px;
					box-shadow: 0 0 4px #b7e6f9;
					padding: 5px;
					max-width: 100%;
					margin: 0;
					font-family: tahoma,arial;
					font-size: 14px;
					}
				.content .CenterColumn .templates .tpl td textarea:focus {
					outline:none;
					box-shadow:0 0 4px #4dbcea;
					border:solid 1px #4dbcea;
					}
		.content .CenterColumn .blacklist {}
			.content .CenterColumn .blacklist input {
				padding: 4px 5px;
				border: solid 1px #a1d9f1;
				border-radius: 2px;
				box-shadow: 0 0 4px #b7e6f9;
				margin: 0;
				width: 200px;
				margin-right: 5px;
				font-family: tahoma,arial;
				font-size: 14px;
				}
			.content .CenterColumn .blacklist input:focus {
				outline:none;
				box-shadow:0 0 4px #4dbcea;
				border:solid 1px #4dbcea;
				}
			.content .CenterColumn .blacklist .man_li {
				border:solid 1px #eee;
				background:#f7f7f7;
				padding:5px;
				margin-bottom:10px;
				}
				.content .CenterColumn .blacklist .man_li img {
					width:50px;
					margin-right:10px;
					}
		.content .CenterColumn .progress {
			width:200px;
			margin:0 auto;
			display:inline-block;
			clear:both;
			}
			.content .CenterColumn .progress .pr {
				background:#26abe3;
				padding:2px 0;
				text-align:center;
				color:#FFF;
				font-size:11px;
				font-weight:bold;
				width:0%;
				overflow:hidden;
				}
.tbl .td img {
	
	border:solid 3px #e4ecf9;
	}