<div class="clear10"></div>
<div class="message"></div>
<div class="clear10"></div>
<div class="home">
    <div class="header">
        <h1 class="logo"><a href="">WMID.com.ua Bot программы для брачных агенств для золушки, дрима, свадьбы, джампа</a></h1>
        <div class="online"><div class="fl"><b class="tx_online" id="tx_online">0</b> Online Men's</div> <a href="#" class="up_online" id="up_online">&nbsp;</a></div>
        <div class="clear10"></div>
    </div>
    <div class="content">
        <div class="leftColumn">
            <ul class="navi">
                <li id="mob"><a href="" id="mobile_emul">Мобильный чат</a><a href="" id="comp_emul" style="display:none;">Обычный чат</a></li>
                <li><a href="http://wmidbot.com/?page=help" target="_blank">Справка</a></li>
                <li><a href="http://wmidbot.com/?page=dayactive" target="_blank">Продлить активацию</a></li>
                <li><a href="#" id="blecklist_link">Черный список</a></li>
            </ul>
            <div class="clear10"></div>
            <div class="clear10"></div>
            <div class="clear10"></div>
            <div class="active">
                <b>Дней активации</b><div class="clear5"></div>
                Обычный чат: <b class="count" id="active_day"></b><div class="clear5"></div>
                Мобильный чат: <b class="count" id="activemob_day"></b>
            </div>
            <div class="clear10"></div>
        </div>
        <div class="rightColumn no_act" align="center">
            У Вас закончились дни активации в <span class="what_chat"></span>! 
            <div class="clear10"></div>
            <div align="center"><a  href="http://wmidbot.com/?page=dayactive" target="_blank" class="Btn_normal"><b>Продлить активацию</b></a></div>
            <div class="clear10"></div>
        </div>
        <div class="rightColumn">
            <textarea class="text_ms" id="text_ms" get-popover="true" text-popover="{name} - Имя<br>{age} - Возраст<br>{country} - Страна">Hi {name}!</textarea>
            <div class="clear10"></div>
            <table width="100%" class="table_1">
                <tr>
                    <td>
                        <b class="title">Отсылать по</b>
                        <div class="clear5"></div>
                        <select class="sel_100" id="typeSend">
                            <option>Online</option>
                            <option>Contact</option>
                        </select>
                    </td>
                    <td class="center">&nbsp;</td>
                    <td>
                        <b class="title">Скорость</b>
                        <div class="clear5"></div>
                        <select class="sel_100" id="speed">
                            <option>Медленно</option>
                            <option selected>Нормально</option>
                            <option>Быстро</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="clear10"></div>
            <table width="100%" class="table_1">
                <tr>
                    <td>
                        <b class="title">Возраст</b>
                        <div class="clear5"></div>
                        <select class="sel_100" id="age_from"></select>
                    </td>
                    <td class="center"><b>-</b></td>
                    <td>
                        <b class="title">&nbsp;</b>
                        <div class="clear5"></div>
                        <select class="sel_100" id="age_to"></select>
                    </td>
                </tr>
            </table>
            <div class="clear10"></div>
            <b class="title">По странам</b>
            <div class="clear5"></div>
            <select class="sel_100" id="country"></select>
            <div class="clear10"></div>
            <label><input type="checkbox" id="fake"> Исключать фейки</label>
            <div class="clear10"></div>
            <div class="clear10"></div>
            <a href="#" class="Btn_big" id="start_send"><b>Начать рассылку</b></a>
            <a href="#" class="Btn_big_red" id="end_send" style="display:none;"><b>Остановить рассылку</b></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="Sector blecklist">
	<div class="addSector">
    	<a href="#" class="back"><b>Назад</b></a>
		<div class="clear10"></div>
        <input type="text" id="bleck_txt" placeholder="ID мужчины"> <a href="#" id="add_bleck" class="Btn_normal"><b>Добавить</b></a>
    </div>
    <div class="clear10"></div>
    <ul class="mans_list" id="blecklist"></ul>
</div>