<div class="clear10"></div>
<div class="message"><b style="color:#F00">NEW</b> Рассылка в мобильном чате!!!</div>
<div class="clear10"></div>
<div class="header">
	<h1 class="logo"><a href="">WMID.com.ua Bot программы для брачных агенств для золушки, дрима, свадьбы, джампа</a></h1>
  
    <div class="clear10"></div>
</div>
<div class="content">
	<div class="leftColumn">
    	<ul class="navi">
        	<li id="mob"><a href="#" id="mobile_emul">Мобильный чат</a><a href="#" id="comp_emul" style="display:none;">Обычный чат</a></li>
        	<li><a href="http://wmidbot.com/?page=help" target="_blank">Справка</a></li>
        </ul>
        <div class="clear10"></div>
        <div class="active">
            <b>Дней активации</b><div class="clear5"></div>
            Обычный чат: <b class="count" id="active_day"></b><div class="clear5"></div>
            Мобильный чат: <b class="count" id="activemob_day"></b>
        </div>
        <div class="clear10"></div>
    </div>
    <div class="rightColumn">
    	У Вас закончились дни активации! 
        <div class="clear10"></div>
        <div align="center"><a  href="http://wmidbot.com/?page=dayactive" target="_blank" class="Btn_normal"><b>Продлить активацию</b></a></div>
        <div class="clear10"></div>
    </div>
    <div class="clear"></div>
</div>