<div class="header">
	<div class="WidthSector">
        <h1 class="logo"><a href="#">WMID BOT</a></h1> настройка рассылки писем
        <ul class="top_navi">
        	<li><a href="http://wmidbot.com/?page=dayactive" target="_blank">Пополнить счет</a></li>
            <li><a href="http://wmidbot.com/?page=help" target="_blank">Справка</a></li>
            <li><a href="http://wmidbot.com/#contact" target="_blank">Контакты</a></li>
        </ul>
    </div>
</div>
<div class="content">
	<div class="WidthSector">
    	<div class="LeftColumn">
        	<ul class="menu">
            	<li><a href="#home" class="page">Главная</a></li>
        		<li><a href="#photos" class="page">Мои фотографии</a></li>
        		<li><a href="#tpl" class="page">Мои шаблоны</a></li>
                <li><a href="#fav" class="page">Мои фавориты</a></li>
        		<li><a href="#blist" class="page">Черный список</a></li>
        		<li><a href="http://wmidbot.com/?page=dayactive" target="_blank"><b>Пополнить счет</b></a></li>
            </ul>
        	<span>Ваш ID: <b id="idd"></b></span>
        </div>
        <div class="CenterColumn"></div>
    </div>
</div>