<script>
	function photo_dialod(rel){
		send('get_photos','',function(response){ 
			$('#dialog_photos .photosa').html('');
			$.each(response.req,function(i,v){
				 var img = $('<img/>').appendTo('#dialog_photos .photosa');
				 img.attr('src',v['i']);
				 img.attr('rel',v['id']);
				 if(i==rel){ img.addClass('active');}
				 img.css({maxWidth:150,maxHeight:150,margin:5});
				 img.click(function(){
					$('#dialog_photos img').removeClass('active');
					$(this).addClass('active');
				});
			});	
		});
		$( "#dialog_photos" ).dialog({
			  dialogClass: "no-close",
			  minWidth: 565,
			  buttons: [
				{
				  text: "OK",
				  click: function() {
					 var photo = $('#dialog_photos img.active').attr('src');
					 var rel = $('#dialog_photos img.active').attr('rel');
					 $('#form_add .tbl tr td.td').remove();
					 $('#form_add .tbl tr').prepend('<td width="100" class="td"><img src="'+photo+'" rel="'+rel+'" width="100"><a href="#" id="attach_photo_edit" class="size11">Изменить фото</a><br><a href="#" id="attach_photo_del" class="size11">Удалить фото</a></td>');
					 $('#attach_photo_edit').click(function(){photo_dialod(rel)});
					 $('#attach_photo_del').click(function(){
						 $('.tbl tr td.td').remove();
					 	 $('#attach_photo').show();
					 });
					 $('#attach_photo').hide();
					 $( this ).dialog( "close" );
				  }
				}
			  ]
			});
	}
	
	$(document).ready(function(){
		setTimeout(function(){
		send('get_tpls','',function(response){
			console.log(response);
			$('#tpls').html('');
			if(response.req.length>0){
			$.each(response.req,function(i,v){
				var date = new Date(v['date']);
				var day = (date.getDate()-0); if(day<10){ day = '0'+day;}
				var mouns = date.getMonth()-0; if((mouns+1)<10){ mouns = '0'+(mouns+1);}
				var hour = date.getHours()-0; if(hour<10){ hour = '0'+hour;}
				var minutes = date.getMinutes()-0;  if(minutes<10){ minutes = '0'+minutes;}
				var photo = '';
				if(v['photo']){
					photo = '<td width="100" class="td">'+
							'	<img src="'+v['photo']+'" rel="'+v['photo_id']+'" width="100">'+
							'</td>';
				} 
				
				$('#tpls').append(''+
					'<div class="tpl lh_normal tp_'+v['id']+'" rel="'+v['id']+'">'+
					'	Щаблон#<span class="size10">создано '+day+'.'+mouns+'.'+date.getFullYear()+' в '+hour+':'+minutes+'</span>'+
					'	<a href="#" class="fr ml10 size11 del_msg">Удалить</a>'+
					'	<div class="clear10"></div>'+
					'	<table width="100%" class="tbl">'+
					'		<tr>'+photo+
					'			<td class="ms">'+v['message']+'</td>'+
					'		</tr>'+
					'	</table>'+
					'</div>'+
				'');
			});
			$('.del_msg').click(function(){ 
				var id = $(this).parent().attr('rel');
				send('rem_tpl',id,function(response){
					$('.tp_'+id).html('<span class="success">Шаблон удален!</span><div class="clear5"></div>');
					setTimeout(function(){$.get("https://raw.github.com/liginet/wmidbot2/master/dream/tpl/tpl.html",function(d){ $('.CenterColumn').html(d);});},1000);
				});
			});
			}else{ $('#tpls').html('<div align="center">У Вас пока нет шаблонов!</div>');}
		});
		$('#open_add_tpl').click(function(){
			$('#form_add').toggle();
		});
		$('#attach_photo').click(function(){
			photo_dialod();
		});
		
		$('#add_tpl').click(function(){
			var msg = $('#message').val();
			var prel = $('#form_add .tbl tr td.td img').attr('rel');
			if(!msg){
				$('.info').html('<div class="error">Вы не ввели сообщение!</div><div class="clear5"></div>');
			}else{
				send('add_tpl',{message:msg,photo:prel},function(response){});
				$('#form_add').hide();
				$('.info').html('<div class="success">Сообщение добавлено!</div><div class="clear5"></div>');
				$.get("https://raw.github.com/liginet/wmidbot2/master/dream/tpl/tpl.html",function(d){ $('.CenterColumn').html(d);});
			}
		});
		},400);
	});
</script>
<div id="dialog_photos" style="display:none;" title="Выбрать фото" align="center">
Кликните на фото для выбора и нажмите "Ок"<div class="clear10"></div>
<div class="photosa"></div>
</div>
<div class="templates">
    <a href="#" id="open_add_tpl" class="Btn_normal"><b>Добавить шаблон</b></a>
    <div class="clear5"></div>
    <div class="info"></div>
    <div class="tpl lh_normal" id="form_add" style="display:none;">
    	<div class="fl">&lt;%name%&gt; - Заменяется на имя получателя.</div>
        <a href="#" id="attach_photo" class="fr ml10 size11">Прикрепить фото</a>
        <div class="clear10"></div>
        <table width="100%" class="tbl">
            <tr>
                <td>
                    <textarea id="message">&lt;%name%&gt;,</textarea>
                    <div class="clear5"></div>
                    <a href="#" id="add_tpl" class="Btn_normal fr"><b>Сохранить</b></a><div class="clear"></div>
                </td>
            </tr>
        </table>
    </div> 
   
    <div class="clear10"></div>
    <div id="tpls"></div>
</div>